<p-blockUI [blocked]="boolLoading">
  <div *ngIf="boolLoading" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; z-index: 9999;">
    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
  </div>
</p-blockUI>
<p-toast />

<h1 class="text-center">MANUTENÇÃO</h1>

<div class="text-center mt-4">
  <p-button [routerLink]="'/exibir'" label="Cancelar" [rounded]="true" [raised]="true" severity="danger" size="small"/>
</div>

<br>

<!-- <div class="card flex justify-center">
  <p-tieredmenu [model]="items" />
</div> -->

<!-- <br><hr><br> -->

<p-panelmenu [model]="items" styleClass="w-full md:w-20rem" />

<br><br>

<div *ngIf="itemSelecionado && itemSelecionado.label" class="text-center mt-5">
  <div class="grid">
    <div class="col-6">
        <div class="text-center p-3 border-round-sm font-bold">
          ITEM SELECIONADO:
          <br>
          {{itemSelecionado ? itemSelecionado.label : ''}}
        </div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm font-bold">
          TIPO:
          <br>
          {{itemSelecionado ? itemSelecionado.target : ''}}
        </div>
    </div>
</div>
  <div>
    <p>AÇÕES:</p><br>
    <p-button label="Nova Subcategoria" [raised]="true" severity="success" /><br><br>
    <p-button label="Novo Site" [raised]="true" severity="contrast" /><br><br>
    <p-button label="Editar" [raised]="true" severity="info" /><br><br>
    <p-button label="Apagar" [raised]="true" severity="warn" /><br><br>
    <p-button (onClick)="Cancelar();" label="Cancelar" [raised]="true" severity="danger" /><br><br>
    <!-- <p-button label="Primary" [raised]="true" />
    <p-button label="Secondary" [raised]="true" severity="secondary" />
    <p-button label="Help" [raised]="true" severity="help" /> -->
  </div>
</div>


<!-- <div class="card">
  <p-tree [value]="files" styleClass="w-full md:w-[30rem]" />
</div> -->
