<p-blockUI [blocked]="boolLoading">
  <div *ngIf="boolLoading" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; z-index: 9999;">
    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
  </div>
</p-blockUI>
<p-toast />

<h1 class="text-center">MANUTENÇÃO</h1>

<div class="text-center mt-4">
  <p-button [routerLink]="'/exibir'" label="Cancelar" [rounded]="true" [raised]="true" severity="danger" size="small"/>
</div>

<br>

<div class="grid">
  <div class="col-12 md:col-6">
    <div class="text-center mb-3">
      <p-panelmenu [model]="items" styleClass="w-full" />
    </div>
  </div>
  <div *ngIf="itemSelecionado && itemSelecionado.label && !boolRegistro" class="col-12 md:col-6">
    <div *ngIf="itemSelecionado && itemSelecionado.label" class="text-center">
      <div class="grid">
        <div class="col-6">
          <div class="text-center border-round-sm font-bold">
            ITEM SELECIONADO:
            <br>
            {{itemSelecionado ? itemSelecionado.label : ''}}
          </div>
        </div>
        <div class="col-6">
          <div class="text-center border-round-sm font-bold">
            TIPO:
            <br>
            {{itemSelecionado ? itemSelecionado.target : ''}}
          </div>
        </div>
      </div>
      <br>
      <p>AÇÕES:</p><br>
      <div class="grid">
        <div class="col-6">
          <div><p-button (onClick)="Selecao('NOVA_SUBCATEGORIA');" label="Nova Subcategoria" [raised]="true" severity="success" /><br><br></div>
          <div *ngIf="boolNovoSite"><p-button (onClick)="Selecao('NOVO_SITE');" label="Novo Site" [raised]="true" severity="contrast" /><br><br></div>
          <div *ngIf="boolEditarCategoria"><p-button (onClick)="Selecao('EDITAR_CATEGORIA');" label="Editar Categoria" [raised]="true" severity="info" /><br><br></div>
          <div *ngIf="boolEditarSite"><p-button (onClick)="Selecao('EDITAR_SITE');" label="Editar Site" [raised]="true" severity="info" /><br><br></div>
        </div>
        <div class="col-6">
          <p-button (onClick)="confirmExclusaoSite($event);" label="Apagar" [raised]="true" severity="warn" /><br><br>
          <p-button (onClick)="Cancelar();" label="Cancelar" [raised]="true" severity="danger" /><br><br>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!itemSelecionado" class="col-12 md:col-6 text-center">
    <p-button (onClick)="Selecao('NOVA_CATEGORIA');" label="Nova Categoria" [raised]="true" severity="success" />
  </div>
  <!-- TELAS PARA OS CADASTROS / ALTERAÇÕES -->
  <div class="col-12 md:col-6 text-center p-3">
    <div *ngIf="boolRegistro && itemSelecionado.target === 'CATEGORIA'">
      <p>CATEGORIA / SUBCATEGORIA</p>
      <span>Categoria Pai: {{itemSelecionado.label}}</span><br>
      <div class="field">
        <label for="catDesc">Nome</label>
        <input [(ngModel)]="novoItem.CatDesc" id="catDesc" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" style="text-align: center;">
      </div>
      <br>
      <p-button (onClick)="SalvarNovaSubcategoria();" label="Salvar" [raised]="true" severity="success" />
       &nbsp;
      <p-button (onClick)="Cancelar();" label="Cancelar" [raised]="true" severity="danger" />
    </div>
    <div *ngIf="boolRegistro && itemSelecionado.target === 'SITE'">
      <p>SITE</p>
      <span>Categoria Pai: {{itemSelecionado.label}}</span><br>
      <div class="field">
        <label for="sitDesc">Descrição</label>
        <input [(ngModel)]="novoSite.SitDesc" id="sitDesc" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" style="text-align: center;">
      </div>
      <br>
      <div class="field">
        <label for="sitLink">Link</label>
        <input [(ngModel)]="novoSite.SitLink" id="sitLink" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" style="text-align: center;">
      </div>
      <br>
      <div class="field">
        <label for="sitObse">Obervação</label>
        <input [(ngModel)]="novoSite.SitObse" id="sitObse" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" style="text-align: center;">
      </div>
      <br>
      <p-button (onClick)="SalvarNovoSite();" label="Salvar" [raised]="true" severity="success" />
       &nbsp;
      <p-button (onClick)="Cancelar();" label="Cancelar" [raised]="true" severity="danger" />
    </div>
  </div>
</div>


<p-confirmdialog />
