
<!-- <div class="card flex justify-center">
  <p-button label="Check"></p-button>
</div>

<br><br>

<div class="card flex flex-wrap gap-4 justify-center">
  <p-button label="Primary" [raised]="true" />
  <p-button label="Secondary" [raised]="true" severity="secondary" />
  <p-button label="Success" [raised]="true" severity="success" />
  <p-button label="Info" [raised]="true" severity="info" />
  <p-button label="Warn" [raised]="true" severity="warn" />
  <p-button label="Help" [raised]="true" severity="help" />
  <p-button label="Danger" [raised]="true" severity="danger" />
  <p-button label="Contrast" [raised]="true" severity="contrast" />
</div>

<br><br>

<div class="grid">
  <div class="col-4">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">4</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
  </div>
</div>

<div class="grid">
  <div class="col-2">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
  </div>
  <div class="col-6">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">6</div>
  </div>
  <div class="col-4">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">4</div>
  </div>
</div> -->

<router-outlet />
